services:
  app:
    build: ./
    volumes:
      - ./src:usr/src/app/src
    ports:
      - "3000:3000"
    command: "npm run start:dev"
    environment:
      - PORT=${PORT}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
